@-ms-viewport{
    width: device-width;
}
@media only screen and (max-width: 1000px){
    body{
        overflow: visible;
    }
    #container, #header, #content, #footer {
        float: none !important;
        width: device-width !important;
    }
    #bar_navigation li{
        border-left: 1px dashed #D3D3D3;
        border-right: 1px dashed #D3D3D3;
        display: block;
        margin: 0px 5px;
        padding: 0px 20px;
    }
    #nav{
        text-align: center;
    }
    #navA{
        text-align: center;
    }
    #bar_navigation{
        width: 70.3125%;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px auto 0px auto;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        text-align: center;
    }
    #divider{
        position: absolute;
        visibility: hidden;
    }
    #ppic{
        display: table-header-group;
    }
    #pdesc{
        display: table-footer-group;
        padding-bottom: 10px;
        padding-right: 0px;
    }
    #ptable{
        padding-top: 0px;
        padding-left: calc(20%);
        width: 62%;
        margin-left: 19%;
        margin-right: 19%;
        padding-right: 0px;
    }
    #profile{
        padding-left: calc(50% - 125px);
        padding-right: 0px;
        padding-bottom: 10px;
    }
    #profile-pic{
        display: block;
        padding-top: 0px;
        width: 250px;
        height: 250px;
    }
    #index{
        display: table-cell;
    }
    p{
        padding: 0px 15%;
    }
    #address{
        padding: 0px 18%;
    }
    #resume {
        overflow: visible;
    }
    #contact {
        overflow: visible;
    }
    #skillset {
        overflow: visible;
    }
    #portfolio {
        overflow: visible;
    }
    #about{
        overflow: visible;
    }
    #about ul{
        padding: 0px 18%;
    }
    #resume ul {
        width: 100%;
    }
    #ptitle{
        padding: 0px;
    }
    iframe{
        height: 62vh;
        zoom: none;
    }
}