@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    overflow: hidden;
    background-color: #F5F5F5;
    font-size: 150%;
    font-family: 'Pathway Gothic One', normal !important;
    letter-spacing: 2px;
}
#iframepdf{
    width: 99%;
    float: none;
}
#ptable{
    padding-right: 40px;
    padding-left: 0px;
    width: 95%
}
#profile{
    padding-right: 0%;
    padding-left: 0px;
}
#profile-pic{
    padding-top: calc(device-height * 2.350083752093802%);
    width: 300px;
    height: 300px;
}
#title {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 7px #9D9D9D;
}
#page {
    min-width: 240px;
    margin: 0px auto 0px auto;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
}
#bar_navigation {
    width: 68%;
    padding: 15px 30px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
}
#portfolio, #skillset, #blog{
    overflow: auto;
}
.psquare {
    width: 99%;
    padding: 2px 2px;
    margin: 0px;
    border: 0px solid #000;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    background-color: #D8D8D8;
}
.psquare_ec{
    padding: 0px 20px;
    font-size: 14pt;
}
.psquare_header{
    font-size: 16pt;
}
#bar_navigation li{
    display: inline;
    margin: 0px 4px;
    padding: 0px 1.25%;
}
a {
    text-decoration:none;
}
[id^=nav]{
    cursor: pointer;
    text-decoration:none;
    color: black;
}
[id^=nav]:hover{
    text-shadow: 2px 2px 7px #9D9D9D;
}
#resume {
    overflow: auto;
    display: block;
}
#resume p {
    direction: ltr;
    color: #00000a;
    line-height: 120%;
    text-align: left;
    orphans: 0;
    widows: 0;
    margin-bottom: 0in;
    line-height: 100%;
    font-weight: normal;
    margin-bottom: 0in;
    font-size: 16pt;
}
#resume a:link {
}
#resume ul {
    width: 1000px;
    padding: 1px;
    margin:0px;
    border-top: 0px;
    border-bottom: 0px;
    text-align: left;
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
}
#resume ul li{
    display: block;
    margin: 0px 0px;
    padding: 0px 0px;
}
#about {
    overflow:auto;
    line-height: 150%;
    letter-spacing: 1.5pt;
}
#about li{
    display: list-item;;
}
#about ul{
    padding: 0px 30px;
}
h1{
    text-align: center;
}
#content {
    margin:auto;
    width: 62.5%;
    overflow:visible;
}
#contact {
    overflow-y: auto;
}
#divider {
    cursor: default;
}
.bodytext{
    font-family: 'Raleway', normal !important;
    letter-spacing: 1px;
    font-size: 12pt;
    margin-top: 0px;
}
.date{
    display: inline;
    float: right;
}
.title{
    display: inline;
    float: left;
}
.blogv{
    display: grid;
    margin-bottom: 5px;
    cursor: pointer;
    overflow-y: auto;
}
.blog_cont{
    box-sizing: border-box;
}
#ps_1.expand{
    height: .3vh;
    overflow: scroll;
}
#tagline{
    font-size: 70%;
}
#video_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
